<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 mx-auto">
      <div class="card mb-4" >
        <div class="card-header">
          <h2 class="card-title"> {{ site.name }} </h2>
        </div>
        <div class="card-body">
          <!-- Site image -->
          <img [src]="'assets/img/' + site.img" class="img-fluid mb-4 site-image" alt="Image de site">
          <!-- Site description -->
          <p><strong>Description:</strong>
            {{ site.description }}
          </p>
          <!-- Embedded Google Maps -->
          <div class="map-container">
            <div id="display-google-map">
              <!-- <iframe frameborder="0" src="https://www.google.com/maps/embed/v1/place?q=Pyramids+of+Giza,+Nazlet+El-Semman,+Al+Haram,+Egypt&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"></iframe> -->
              <iframe [src]="mapUrl" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>